{% raw %}
import json

from hera.shared import global_config
from hera.workflows import (
    Artifact,
    Script,
    Steps,
    Volume,
    Workflow,
    script,  # pyright: ignore[reportUnknownVariableType]
)
from hera.workflows import models as m
from hera.workflows.archive import NoneArchiveStrategy

# Sets the default image, unless specified otherwise, to this.
# This image has access to the /workflow_definitions/mounted_files folder
# and was created with the included dockerfile.
global_config.set_class_defaults(  # pyright: ignore
    Script,
    image="ghcr.io/diamondlightsource/{% endraw %}{{repo_name}}{% raw %}-mounted-image:latest",
)


# The script decorator allows hera to convert python code into yaml
@script(
    command=["python"],  # optional
    # makes output an artifact to allow it to be downloaded
    outputs=Artifact(
        name="notebook", path="/tmp/notebook.html", archive=NoneArchiveStrategy()
    ),
    # mounts a volume named "tmpdir" at path "/tmp"
    volume_mounts=[m.VolumeMount(name="tmpdir", mount_path="/tmp")],
)
def mount_files():
    # notably, we install dependencies for scripts *within* the function we run.
    # They are not interpreted as functions, but as stand-alone scripts.
    import subprocess

    # install our dependencies
    subprocess.call("python -m venv /tmp/venv", shell=True)
    subprocess.call(
        "/tmp/venv/bin/pip install -r /mounted_files/requirements.txt", shell=True
    )
    subprocess.call(
        "/tmp/venv/bin/python -m ipykernel install --prefix=/tmp/venv --name=venv",
        shell=True,
    )
    # convert the notebook file into an html file
    subprocess.call(
        "/tmp/venv/bin/python -m jupyter nbconvert --execute --allow-errors --to html --output notebook --output-dir /tmp /mounted_files/pandas.ipynb",  # noqa: E501
        shell=True,
    )

# If you wanted to make something that submits multiple versions of the same workflow,
# simply copy the following section and write 'as a' instead of 'as w',
# then write "a.to_yaml" to a new file, etc.
# To run them all, as you have to call submit_workflow_yaml once per line, simply
# write out a submit_workflow_yaml once per file, or write a for loop to submit each
# sequentially.
# This way, you can alter input parameters you assign (see visr example)
with Workflow(
    # assures that the container has enough resources for our workflow
    pod_spec_patch=json.dumps(
        {
            "containers": [
                {
                    "name": "main",
                    "resources": {
                        "limits": {
                            "cpu": "500m",
                            "memory": "2Gi",
                        },
                        "requests": {
                            "cpu": "500m",
                            "memory": "2Gi",
                        },
                    },
                }
            ]
        }
    ),
    # assures we run this in a pod with a gpu and no other scheduled workflow
    tolerations=[
        m.Toleration(
            key="nodetype", operator="Equal", value="gpu", effect="NoSchedule"
        ),
        m.Toleration(
            key="nodegroup", operator="Equal", value="workflows", effect="NoSchedule"
        ),
    ],
    # name of workflow - will append a short identifier automatically.
    name="hera-example-pandas",
    # the following is the same as for writing any yaml workflow, but as variables.
    # All of these are required aside from "workflows.argoproj.io/description".
    entrypoint="workflowentry",
    api_version="argoproj.io/v1alpha1",
    kind="ClusterWorkflowTemplate",
    labels={"workflows.diamond.ac.uk/science-group-examples": "true"},
    annotations={
        "workflows.argoproj.io/title": "notebook.yaml remade via hera",
        "workflows.argoproj.io/description": """Runs pandas.ipynb and converts it to an
html file""",
        "workflows.diamond.ac.uk/repository": "https://github.com/{% endraw %}{{github_org}}{% raw %}/{% endraw %}{{repo_name}}{% raw %}",
    },
    # We use Volume objects to define volumes.
    volumes=Volume(name="tmpdir", mount_path="/tmp/", size="1Gi"),
) as w:
    # We establish the order of templates to run here, using '>>' to determine order
    # We can use a DAG instead, in which we write out the dag's architecture afterwards:
    # grouping tasks with [], i.e., files >> [a, b] will run files, then will
    # run a and b simultaneously.
    with Steps(name="workflowentry"):
        files = mount_files()


# produce a yaml file so we can lint and submit it with python_workflow_submitter
# python_workflow_submitter may only submit yaml files, so rename .txt to .yaml if you
# wish to test this example.
# Furthermore, absolute paths are preferred (such as the one shown here) to place them
# within the correct folder upon commiting (see scripts/runthefiles.sh), however these
# are not required.
with open(
    "/workspaces/{% endraw %}{{project_name}}{% raw %}/src/{% endraw %}{{project_name}}{% raw %}/templates/example_import_files.txt", 
    "w"
) as div:
    div.write(w.to_yaml())  # pyright: ignore[reportUnknownMemberType]
{% endraw %}
