[![CI](https://github.com/{{github_org}}/{{repo_name}}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{github_org}}/{{repo_name}}/actions/workflows/ci.yml)
[![Coverage](https://codecov.io/gh/{{github_org}}/{{repo_name}}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{github_org}}/{{repo_name}})

[![License](https://img.shields.io/badge/License-Apache%202.0-blue.svg)](https://www.apache.org/licenses/LICENSE-2.0)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)
# {{project_name}}

 Python alternative to creating and running argo workflows in the Data Analysis Platform

Update pyproject.toml for the following use cases:
 - Pyright linting
 - Dependencies


This is where you should write a short paragraph that describes what your module does,
how it does it, and why people should use it.

What            | Where
:---:           | :---:
Source          | <https://github.com/{{github_org}}/{{repo_name}}>
Docker          | `docker run ghcr.io/{{github_org}}/{{repo_name}}:latest`
Releases        | <https://github.com/{{github_org}}/{{repo_name}}/releases>

This is where you should put some images or code snippets that illustrate
some relevant examples. If it is a library then you might put some
introductory code here:

```python
from {{project_name}} import __version__

print(f"Hello {{project_name}} {__version__}")
```

Or if it is a commandline tool then you might put some example commands here:

```
python -m {{project_name}} --version
```
