#!/bin/bash
cd src/{{project_name}}/workflow_definitions
for file in *
do
[[ -d "$file" ]] && continue
uv run "$file"
done
mv *.txt src/{{project_name}}/templates/
git add -u src/{{project_name}}/templates/
